.output {
    width: 99.6%;
    border-top-right-radius: 5%;
    border-top-left-radius: 5%;
    font-size: 550%;
    background-color: #98adc0;
    outline: none;
    border: none;
    color: whitesmoke;
    font-weight: 100;
}

input:focus {
    outline: none;
}