.title {
    font-size: 600%;
    font-weight: 200;
    color: #2a324b;
    margin: 8%;
    text-align: center;
    margin: 4%;
}

header {
    width: 60vw;
}

@media screen and (max-width: 1200px){
    .title {
        font-size: 550%;
    }
}